:root {
  --text-color: #303030;
  --header-color: #272727;
  --header: "Montserrat", Helvetica, Arial, sans-serif;
  --body: Helvetica, Arial, sans-serif;
}

.Weather {
  display: flexbox;
  justify-content: left;
  text-align: left;
  border: 1px solid #cecece;
  border-radius: 10px;
  padding: 16px;
  margin: 30px auto;
  width: 600px;
  font-family: var(--body);
}

h1 {
  font-family: "Montserrat", Helvetica, sans-serif;
  color: var(--header-color);
  display: block;
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
}

.Weather form {
  margin-bottom: 30px;
}

.Weather .weather-temp img {
  width: 64px;
  height: 64px;
  margin-right: 5px;
  display: block;
  margin-top: 10px;
}

.Weather strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.Weather .icon {
  height: 64px;
  width: 64px;
  float: left;
  margin-right: 10px;
}

.Weather .unit {
  font-size: 16px;
  position: relative;
  top: -34px;
  margin-left: 0px;
  line-height: 1;
}
